[Desktop Entry]
Name=Install AOSC OS
Name[zh_CN]=安装 AOSC OS
Comment=Install AOSC OS using DeployKit
Comment[zh_CN]=使用 DeployKit 安装 AOSC OS
Icon=deploykit
Exec=sudo -H mate-terminal --geometry="120x40" -t "AOSC OS" -e deploykit
Terminal=true
Type=Application
