[Desktop Entry]
Name=Install AOSC OS
Name[zh_CN]=安装 AOSC OS
Name[zh_TW]=安裝 AOSC OS
Comment=Install AOSC OS on your computer
Comment[zh_CN]=在您的电脑上安装 AOSC OS
Comment[zh_TW]=在您的電腦上安裝 AOSC OS
Icon=deploykit
Exec=mate-terminal --geometry="120x40" -t "DeployKit" -e deploykit.sudo
Terminal=true
Type=Application
