[Desktop Entry]
Name=Install AOSC OS
Name[zh_CN]=安装 AOSC OS
Comment=Install AOSC OS using DeployKit
Comment[zh_CN]=使用 DeployKit 安装 AOSC OS
Icon=deploykit
Exec=mate-terminal --geometry="120x40" -t "DeployKit" -e deploykit.sudo
Terminal=true
Type=Application
