#!/usr/bin/env xdg-open
[Desktop Entry]
Name[af]=Teksredigeerder
Name[am]=ጽሁፍ ማረሚያ
Name[ar]=مُحرّر نصوص
Name[as]=টেক্সট এডিটার
Name[ast]=Editor de testu
Name[az]=Mətn Editoru
Name[be]=Тэкставы рэдактар
Name[bg]=Текстов редактор
Name[bn]=টেক্সট সম্পাদক 
Name[bn_IN]=টেক্সট সম্পাদন ব্যবস্থা
Name[br]=Embanner testennioù
Name[bs]=Editor teksta
Name[ca]=Editor de text
Name[ca@valencia]=Editor de text
Name[cmn]=文字編輯器
Name[crh]=Metin Muarriri
Name[cs]=Textový editor
Name[cy]=Golygydd testun
Name[da]=Tekstredigeringsprogram
Name[de]=Textbearbeitung
Name[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής κειμένου
Name[en_AU]=Text Editor
Name[en_CA]=Text Editor
Name[en_GB]=Text Editor
Name[eo]=Teksta Redaktilo
Name[es]=Editor de textos
Name[es_AR]=Editor de Texto
Name[es_MX]=Editor de Texto
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstieditori
Name[fr]=Éditeur de texte
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de texto
Name[gu]=લખાણ સંપાદક
Name[he]=עורך טקסט
Name[hi]=पाठ संपादक
Name[hr]=Tekstualni uređivač
Name[hu]=Szövegszerkesztő
Name[hy]=Տեքստային խմբագրիչ
Name[id]=Penyunting Teks
Name[ie]=Redactor de textus
Name[is]=Textaritill
Name[it]=Editor di testo
Name[ja]=テキストエディター
Name[ka]=ტექსტის რედაქტორი
Name[kk]=Мәтін түзетушісі
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=텍스트 편집기
Name[ku]=Edîtora Nivîsê
Name[ku_IQ]=دەستکاریکەری دەق
Name[ky]=Текст редактору
Name[la]=Scripta Edere
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta redaktors
Name[mai]=पाठ संपादक
Name[mg]=Fanovana lahabolana
Name[mk]=Уредувач за текст
Name[ml]=എഴുത്തിടം
Name[mn]=Текст боловсруулагч
Name[mr]=मजकूर संपादक
Name[ms]=Penyunting Teks
Name[nb]=Tekstredigerer
Name[nds]=Textbewarker
Name[ne]=पाठ सम्पादक
Name[nl]=Tekstbewerker
Name[nn]=Tekstredigering
Name[nso]=Morulaganyi wa Sengwalwa
Name[oc]=Editor de tèxte
Name[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
Name[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Edytor tekstu
Name[ps]=ليک سمونګر
Name[pt]=Editor de Texto
Name[pt_BR]=Editor de textos
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[si]=පෙළ සකසනය
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sq]=Editues teksti
Name[sr]=Уређивач текста
Name[sr@latin]=Urednik teksta
Name[sv]=Textredigerare
Name[ta]=உரை தொகுப்பி
Name[te]=పాఠ్యము సరికూర్పరి
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tk]=Metin Editçi
Name[tr]=Metin Düzenleyici
Name[ug]=تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор
Name[ur]=متن مدون
Name[uz]=Matn Tahrirchi
Name[vi]=Bộ soạn thảo văn bản
Name[wa]=Aspougneu di tecse
Name[xh]=Umhleli woMbhalo
Name[zh_CN]=文本编辑器
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
Name[zu]=Uhele wetekisi
Name=Text Editor
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሁፍ ፋይሎች ማረሚያ
Comment[ar]=تحرير الملفات النّصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаваць тэкставыя файлы
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[cmn]=編輯文字檔
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Rediger tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_AU]=Edit text files
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[es_MX]=Editar archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[hy]=Խմբագրել տեքստային ֆայլերը
Comment[id]=Edit berkas teks
Comment[ie]=Redacter files textual
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ku_IQ]=دەستکاریکردنی دەقە پەڕگەکان
Comment[ky]=Текст файлдарын оңдоо
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Sunting fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[pms]=Modifica file ‘d test
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editați fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређујте текстуалне документе
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య దస్త్రములను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[ur]=متن فائلیں مدون کریں
Comment[uz]=Matnli fayllarni tahrirlash
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Comment=Edit text files
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=text;editor;MATE;tabulacions;ressaltat;codi;múltiple;fitxers;connectors;
Keywords[cs]=text;textový;editor;MATE;karty;zvýraznění;kód;více;soubory;souborů;zásuvné;zásuvný;
Keywords[da]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;filer;
Keywords[es]=texto;editor;MATE;pestañas;resaltado;código;múltiples;archivos;complementos;
Keywords[gl]=texto;editor;MATE;tabulacións;destaques;código;múltiple;ficheiros;extensíbel;
Keywords[id]=teks;editor;penyunting;MATE;tab;penyorotan;kode;beberapa;berkas;pluggable;
Keywords[it]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
Keywords[ja]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
Keywords[ms]=teks;penyunting;MATE;tab;penyorotan;kod;berbilang;fail;boleh palam;
Keywords[nb]=tekst;editor;MATE;faner;utheving;kode;flere;filer;programtillegg;
Keywords[nl]=tekst;bewerker;MATE;tabs;accentuering;code;meerdere;bestanden;invoegsels;
Keywords[oc]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
Keywords[pl]=tekst;edytor;MATE;tabulatory;podświetlanie;kod;wiele;pliki;wtyczki;
Keywords[ru]=текст;редактор;MATE;вкладки;подсветка;код;несколько;файлы;подключаемые;
Keywords[sl]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;besedilo, tabulator;poudarjanje;koda;datoteke;
Keywords[sr]=текс;уређивач;Мејт;језичци;листови;истицање;код;више;датотеке;прикључци;
Keywords[zh_CN]=文本;编辑器;MATE;标签页;突出显示;编码;多种;文件;可以插件的;
Keywords[zh_TW]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
Keywords=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
X-MATE-DocPath=pluma/pluma.xml
X-MATE-FullName=Pluma Text Editor
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=Pluma
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.26.0
X-MATE-Bugzilla-ExtraInfoScript=/usr/libexec/pluma/pluma-bugreport.sh
 
