#submenu $"Graphics options for AOSC OS Desktop >>" {
if [ "x$grub_cpu" = "xx86_64" -o "x$grub_cpu" = "xi386" -o "x$grub_cpu" = "xarm64" ] ; then
	menuentry $"Try AOSC OS Desktop (NVIDIA GPUs)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-nvidia-open modprobe.blacklist=nouveau $kernel_lang_param nvidia_drm.fbdev=1 nvidia_drm.modeset=1
		initrd /boot/live-initramfs-nvidia-open.img
	}
	menuentry $"Try AOSC OS Desktop (NVIDIA GPUs older than GeForce GTX 16 series)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-nvidia modprobe.blacklist=nouveau $kernel_lang_param nvidia_drm.fbdev=1 nvidia_drm.modeset=1
		initrd /boot/live-initramfs-nvidia.img
	}
fi
if [ "x$grub_cpu" = "xx86_64" -o "x$grub_cpu" = "xi386" -o "x$grub_cpu" = "xarm64" -o "x$grub_gpu" = "xloongarch64" ] ; then
	menuentry $"Try AOSC OS Desktop Desktop (Glenfly Arise 1000/2000 series GPUs)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-arise $kernel_lang_param
		initrd /boot/live-initramfs-arise.img
	}
fi
if [ "x$grub_cpu" = "xx86_64" -o "x$grub_cpu" = "xi386" ] ; then
	menuentry $"Try AOSC OS Desktop (integrated Zhaoxin C-1080/1190 GPUs)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-cx4 $kernel_lang_param
		initrd /boot/live-initramfs-cx4.img
	}
	menuentry $"Try AOSC OS Desktop (integrated Zhaoxin C-960 GPUs)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-zhaoxin $kernel_lang_param
		initrd /boot/live-initramfs-zhaoxin.img
	}
fi