#submenu $"Graphics options for AOSC OS Desktop >>" {
if [ "x$grub_cpu" = "xx86_64" -o "x$grub_cpu" = "xi386" -o "x$grub_cpu" = "xarm64" ] ; then
	menuentry $"Try AOSC OS Desktop (With NVIDIA graphics, GTX 16/RTX 20 series and later)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-nvidia-open modprobe.blacklist=nouveau $kernel_lang_param nvidia_drm.fbdev=1 nvidia_drm.modeset=1
		initrd /boot/live-initramfs-nvidia-open.img
	}
	menuentry $"Try AOSC OS Desktop (With NVIDIA graphics, up to GTX 10 series)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-nvidia modprobe.blacklist=nouveau $kernel_lang_param nvidia_drm.fbdev=1 nvidia_drm.modeset=1
		initrd /boot/live-initramfs-nvidia.img
	}
fi
if [ "x$grub_cpu" = "xx86_64" -o "x$grub_cpu" = "xi386" ] ; then
	menuentry $"Try AOSC OS Desktop (With Zhaoxin KX-6000G/7000 series)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-cx4 $kernel_lang_param
		initrd /boot/live-initramfs-cx4.img
	}
	menuentry $"Try AOSC OS Desktop (With Zhaoxin KX-6000/6900 series)" --class aosc --class gnu-linux --class live --id aosc_live_desktop_nvidia --unrestricted {
		insmod gzio
		linux /boot/kernel SYSTEMD_SULOGIN_FORCE=1 root=aosc-livekit:CDLABEL=$volid quiet splash livekit.boot=desktop-zhaoxin $kernel_lang_param
		initrd /boot/live-initramfs-zhaoxin.img
	}
fi
