[Desktop Entry]
Name=Install AOSC OS
Name[zh_CN]=安装 AOSC OS
Name[zh_TW]=安裝 AOSC OS
Comment=Install AOSC OS on your computer
Comment[zh_CN]=在您的电脑上安装 AOSC OS
Comment[zh_TW]=在您的電腦上安裝 AOSC OS
Icon=deploykit
Exec=deploykit-gui -s -d /usr/share/deploykit-gui/bgm
Terminal=false
Type=Application
