[Unit]
Description=Language Selection Interface (GUI)
Before=sddm.service
After=multi-user.target
Conflicts=select-language-tui.service

[Service]
ExecStart=/usr/bin/xinit /usr/bin/select-language.xinit
Type=oneshot
KillMode=process
IgnoreSIGPIPE=no
KillSignal=SIGHUP
Environment=LIBGL_ALWAYS_SOFTWARE=true

[Install]
WantedBy=sddm.service
