#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=emblem-package
Name=Accessories
Name[zh_CN]=附件
Name[zh_TW]=附屬應用程式
Exec=caja /home/live/Desktop/.accessories
Comment=Extra tools for LiveKit
Name=Accessories
Comment=Extra tools for LiveKit
